/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

.post {

	& .entry-content {

		p {
			font-size: 1.25rem;
			// font-weight: 300;

			@include tablet {
				font-size: 1.75rem;
			}
		
			@include desktop {
				font-size: 2.5rem;
			}
		}
	}

	& .entry-title,
	.source {
			display: inline-block;
			font-size: 1.25rem;
			font-weight: 300;
		}

	& .source {
		font-style: italic;
	}
	
}