/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 2px solid $color__brand-green;
	border-radius: 2px;
	background: #222222;
	color: $color__brand-green;
	font-size: 1rem;
	line-height: 1;
	padding: 0.75rem 2.25rem;

	@include tablet {
		font-size: 1.25rem;
	}

	&:hover {
		border-color: darken($color__brand-green, 10%);
		color: darken($color__brand-green, 10%);
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	border: 2px solid $color__brand-green;
	border-radius: 2px;
	background: #222222;
	color: $color__brand-green;
	font-size: 1rem;
	line-height: 1;
	padding: 0.75rem 2.25rem;

	&:focus {
		color: darken($color__brand-green, 10%);
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}
