/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/* General */
.fixed-width-content-area {

  padding: 2.5%;
  
  @include desktop {
    width: $base__content-area-width;
    margin: 0 auto;
  }
}

// .site-content {

//   &:before,
//   &:after {
//     color: $color__brand-green;
//     font-family: FontAwesome;
//     font-size: 125px;
//     line-height: 125px;
//     position: absolute;
//     top: 0;
//   }

//   &:before {
//     content:"\f10d";
//   }
//   &:after {
//     content: "\f10e";
//   }
// }

/* Header */
.site-branding {
  margin-top: 3rem;
}
  
.logo {
  width: 300px;

  @include tablet {
    width: 500px;
  }

  @include desktop {
    width: 700px;
    margin: 0 auto;
  }
}

/* Footer */
.site-info {

  margin: 4.5rem 0 2rem;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }

  @include desktop {
    justify-content: flex-end;
  }

  & .footer_navigation {

    ul {

      margin: 1rem 0;
      padding: 0;
      
      li {
      display: inline-block;
      padding: 0 1rem;
      border-right: 1px solid white;
      line-height: 1;

        &:first-of-type {
          padding-left: 0;
        }

        &:last-of-type {
          border-right: none;
        }
      }
    }
  }
}

/* Front Page */
.post {

  margin-top: 3rem;

  @include desktop {
    display: flex;
  }

  .fa-quote {
    display: none;
    width: 200px;

    @include desktop {
      display: block;
    }
  }

  .entry-content {

    margin: 0;

    p {
      margin: 0;
    }
  }
}



#new-quote-button {

  @include desktop {
    display: block;
    margin: 0 auto;
  }
}

.fa-quote {
  color: $color__brand-green;

  &:first-of-type {
    padding-right: 2rem;
  }
  &:last-of-type {
    padding-left: 2rem;
  }

  & .fa {
    font-size: 8rem;
  }
}

/* All Archives Page */

/* Submit a Quote Page */
