/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/* General */
.fixed-width-content-area {

  padding: 2.5%;
  
  @include desktop {
    width: $base__content-area-width;
    margin: 0 auto;
  }
}

.site-content {

  margin-top: 3rem;

  @include desktop {
    display: flex;
    
    &:before {
      content: "\f10d";
      margin-right: 4rem;
    }
    &:after {
      content: "\f10e";
      margin-left: 4rem;
    }
    &:before, 
    &:after {
      color: $color__brand-green;
      font-family: FontAwesome;
      font-size: 125px;
    }
  }
}

.content-area {
  width: 100%;
}




/* Header */
.site-branding {
  margin-top: 3rem;
}
  
.logo {
  width: 300px;

  @include tablet {
    width: 500px;
  }

  @include desktop {
    width: 700px;
    margin: 0 auto;
  }
}

/* Footer */
.site-info {

  margin: 4.5rem 0 2rem;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }

  @include desktop {
    justify-content: flex-end;
  }

  & .footer_navigation {

    ul {

      margin: 1rem 0;
      padding: 0;
      
      li {
      display: inline-block;
      padding: 0 1rem;
      border-right: 1px solid white;
      line-height: 1;

        &:first-of-type {
          padding-left: 0;
        }

        &:last-of-type {
          border-right: none;
        }
      }
    }
  }
}

/* Front Page */
#new-quote-button {

  @include desktop {
    display: block;
    margin: 0 auto;
  }
}



/* All Archives Page */
.browse-archives {

    ul {
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        margin-right: 1.125rem;
        margin-bottom: 0.5rem;

        @include tablet {
          font-size: 1.25rem;
        }
      }
    }
}

/* Category Archive */
.archive {
  
  .entry-content,
  .page-title {
    padding-bottom: 2rem;
    border-bottom: $base__dashed-border;
  }
}

/* Submit a Quote Page */
#quote-submission-form {
  label {
    display: block;
  }
  input,
  textarea {
    margin: 0.5rem 0 1.5rem;

    &:focus,
    &:active {
      border: white;
      background: lightyellow;
    }
  }
}